.step {
  text-align: center;
  font-family: 'Courier New', monospace;
}

.small-box {
  margin-top: 20px;
  text-align: center;
  width: 60%;
  margin-left: 20%;
  background-color: rgb(180, 196, 255);
  position: relative;
  border-radius: 5px 5px 5px 5px;
  border: 2px solid black;
  box-shadow: 2px 2px#000000;
  box-sizing: border-box;
  overflow: hidden;
}

.big-box {
  padding: 10px;
  margin-top: 20px;
  margin-bottom: 10px;
  text-align: center;
  width: 60%;
  margin-left: 20%;
  background-color: rgb(249, 242, 232);
  position: relative;
  border-radius: 5px 5px 5px 5px;
  border: 2px solid black;
  box-shadow: 2px 2px#000000;
  box-sizing: border-box;
  overflow: hidden;
}
